//primary (body)
$primary-bg: #12181b;
$primary-fg: rgb(255, 255, 255);
//secondary (containers)
$secondary-bg: #2a2e35;
$secondary-fg: rgb(255, 255, 255);

//nav
$nav-bg: rgb(0, 0, 0);
$nav-fg: rgb(255, 255, 255);
$nav-fg-hover: rgb(39, 167, 216);
